
        body{
            background-color:black;
            width:100vw;
            height:100vh;
        }

        header{
            width:200px; 
            height:100%; 
            background-color:#131313;
            position:fixed;
            z-index:10;
            float:left;
        }
        .menu_icon{
            width:200px;
            margin:0;
            filter: opacity(0.5) drop-shadow(0 0 0 darkred);
            
        }
        .menu_icon img{
            width:35px;
            height:35px;
        }
        .main_menu{
            width:200px; 
            height:100%;
            background-color:#131313;
        }
        .main_menu li a{
            color:#e5e5e5;
            text-decoration: none;
            font-family: 'YeolrinGothic-Light';
            font-weight: normal;
            padding:20px;
            display:block;
        }
        
        .main_menu li ul li{
            display:block;
            padding-left:15px;
        }
        .main_menu li ul li:hover{
            animation-name:btn;
            animation-duration: 2.5s;
            animation-iteration-count: 1;
        }

        .main_menu li ul li a:hover{
            background-color:darkred;
        }
        .main_menu li ul li a{
            border-left:1px solid gray;
            
        }

        @keyframes btn{
            0%{opacity:0;}
            10%{opacity:1;}
            15%{opacity:0;}
            20%{opacity:1;}
        }

        .section{
            width:calc(100% - 200px);
            height:auto;
            float:right;
            
        }

        .cover{
            width:calc(100% - 200px);       
           
            height:1200px;
            background-color:black;
            opacity:0;
            position:absolute;
            top:0;
            right:0;
            z-index:55;
        }

        .logo_image{
            height:1200px;
            position:relative;
            background-size:100%;
            background-position: middle;
            background-repeat: no-repeat;
        }

        .logo_image img{
            position:absolute;
            left:35%;
            top:30%;
            animation:test 1s infinite alternate;
        }

        @keyframes test{
            0%{filter: opacity(0.5) drop-shadow(0 0 0 red);}
            10%{filter: opacity(0.2) drop-shadow(0 0 0 black); 
                transform:translateX(2%);}
            20%{filter:drop-shadow(15px 15px 15px #6e304b);}
            30%{filter: drop-shadow(0 0 0 darkred);}
            40%{filter:invert(0.5)}
            50%{filter: opacity(0.5) drop-shadow(-15px -15px -15px black);}
        }

        .program_show{
            width:1200px;
            height:300px;
            color:#e5e5e5;
            font-family: 'YeolrinGothic-Light';
            font-size:30px;
            text-align: center;
            line-height:300px;
            margin:0 auto;
        }
        
        .all{
            width:1200px;
            height:50px;
            display:flex;
            justify-content: flex-end;
            margin:0 auto;
        }
        .all a{
            font-family: 'YeolrinGothic-Light';
            text-decoration: none;
            color:#e5e5e5;
            font-size:17px;
            height:0;
        }

        .poster_box{
            width:100%;
            height:auto;
            
        }

        .poster_show{
            height:500px;
            color:#e5e5e5;
            font-family: 'YeolrinGothic-Light';
            font-size:20px;
            text-align: center;
            display:flex;
            justify-content: center;
            align-items: center;
            
        }

        .poster_image_box{
            display:flex;
            width:100%;
            height:100vh;
            box-sizing: border-box;
            position:relative;
        }

        .poster_image1{
            flex:1;
            overflow:hidden;
            transition:0.5s;
        }

        .poster_image1:hover{
            flex:1 1 50%;
        }

        .poster_image1 > img{
            width:100%;
            height:100%;
            object-fit: cover;
            opacity:0.5;
            transition:0.5s;
        }

        .poster_image1:hover > img{
            opacity:1;
        }
        

        .program_box{
            width:1200px;
            height:auto;
            display:flex;
            flex-flow:column wrap;
            justify-content: center;
            align-items: center;
            margin:0 auto;
        }

        .infor,
        .infor2,
        .infor3,
        .infor4{
            height:130px;
            display:flex;
        }
        .infor{
            height:200px;
        }

        .infor h1,
        .infor2 h1,
        .infor3 h1,
        .infor4 h1{
            width:300px;
            font-family: 'YeolrinGothic-Light';
            color:gray;
            font-size:23px;
            text-align: center;
        }

        .infor h2,
        .infor2 h2,
        .infor3 h2,
        .infor4 h2{
            width:900px;
            font-family: 'YeolrinGothic-Light';
            color:#e5e5e5;
            font-size:20px;
            font-weight: normal;
            
        }

        .character_show{
            height:300px;
            color:#e5e5e5;
            font-family: 'YeolrinGothic-Light';
            font-size:30px;
            text-align: center;
            line-height:300px;
        }


        .character{
            width:100%;
            height:1600px;
        }

        .character1,
        .character2,
        .character3{
            width:1200px;
            height:500px;
            margin:0 auto;
            display:flex;
            align-items: center;
        }

        .character1_text,
        .character2_text,
        .character3_text{
            padding:30px;
        }

        .character1 span,
        .character2 span,
        .character3 span{
            color:#e5e5e5;
            font-size:40px;
            font-family: 'YeolrinGothic-Light';
        }
        .character1 span:nth-of-type(2),
        .character2 span:nth-of-type(2),
        .character3 span:nth-of-type(2){
            font-size:20px;
            color:gray;
        }

        .character1 h1,
        .character2 h1,
        .character3 h1{
            font-size:18px;
            font-family: 'YeolrinGothic-Light';
            color:#e5e5e5;
            font-weight:normal;
        }

        .character1 img,
        .character2 img,
        .character3 img{
            transition:1s cubic-bezier(.67, .36, .2, .9)
        }

        .character1 img:hover{
            clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
            transform:translateX(-5%);
        }
        .character2 img:hover{
            clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
            transform:translateX(5%);
        }
        .character3 img:hover{
            clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
            transform:translateX(-5%);
        }

        .notice_show{
            height:300px;
            color:#e5e5e5;
            font-family: 'YeolrinGothic-Light';
            font-size:30px;
            text-align: center;
            line-height:300px;
        }
        
        .notice_video{
            width:1200px;
            height:350px;
            display:flex;
            justify-content: space-between;
            margin:0 auto;
        }

        .notice1,
        .notice2{
            width:590px;
            height:350px;
        }

        .video{
            width:500px;
            height:250px;
            background-image: url('img/20211125_234248.png');
        }

        .notice1 a,
        .notice2 a{
            text-decoration: none;
        }

        .notice1_text,
        .notice2_text{
            font-family: 'YeolrinGothic-Light';
            color:#e5e5e5;
            font-size:20px;
            text-align: center;
            margin-top:20px;
        }

        .notice1_photo,
        .notice2_photo{
            width:100%;
            height:250px;
            transition:all 0.3s;
        }

        .clip_video_show{
            height:300px;
            color:#e5e5e5;
            font-family: 'YeolrinGothic-Light';
            font-size:30px;
            text-align: center;
            line-height:300px;
        }

        .clip_video{
            width:100%;
            height:700px;
            text-align: center;
            display:flex;
            justify-content: space-between;
            flex-flow:row wrap;
        }

        .clip1,
        .clip2,
        .clip3,
        .clip4,
        .clip5,
        .clip6,
        .clip7,
        .clip8{
            width:400px;
            height:250px;
        }

        .clip1 img,
        .clip2 img,
        .clip3 img,
        .clip4 img,
        .clip5 img,
        .clip6 img,
        .clip7 img,
        .clip8 img{
            width:100%;
            height:100%;
        }

        .clip1_text,
        .clip2_text,
        .clip3_text,
        .clip4_text,
        .clip5_text,
        .clip6_text,
        .clip7_text,
        .clip8_text{
            color:#e5e5e5;
            font-family: 'YeolrinGothic-Light';
        }

        .clip4_text,
        .clip6_text,
        .clip7_text,
        .clip8_text{
            text-align: left;
        }

        .clip1 a,
        .clip2 a,
        .clip3 a,
        .clip4 a,
        .clip5 a,
        .clip6 a,
        .clip7 a,
        .clip8 a{
            text-decoration: none;
        }

        .again_show{
            height:300px;
            color:#e5e5e5;
            font-family: 'YeolrinGothic-Light';
            font-size:30px;
            text-align: center;
            line-height:300px;
        }

        .again_video{
            width:1200px;
            height:860px;
            margin:0 auto;
        }

        .again_video h3 a{
            color:darkred;
            font-family: 'YeolrinGothic-Light';
            font-weight: normal;
            font-size:16px;
            text-decoration: none;
            transition:0.2s;
        }

        .again_video h3 a:hover{
            text-decoration: underline;
        }

        .again_video h3{
            text-align: center;
            height:100px;
            line-height:100px;
        }
        .one,
        .two,
        .three{
            width:1200px;
            height:280px;
            display:flex;
            flex-flow:column wrap;
            justify-content: center;
        }
        .again1_text,
        .again2_text,
        .again3_text{
            width:732px;
        }
        .one h1,
        .two h1,
        .three h1{
            font-family: 'YeolrinGothic-Light';
            font-size:15px;
            font-weight: normal;
            color:#e5e5e5;
            padding:20px;
        }
        .one span,
        .two span,
        .three span{
            font-family: 'YeolrinGothic-Light';
            font-size:13px;
            font-weight: normal;
            color:#e5e5e5;
            text-align: left;
            padding:20px;
        }

        .special_show{
            height:300px;
            color:#e5e5e5;
            font-family: 'YeolrinGothic-Light';
            font-size:30px;
            text-align: center;
            line-height:300px;
        }

        .special_video{
            width:1200px;
            height:700px;
            margin:0 auto;
            display:flex;
            flex-flow:row wrap;
            align-items: center;
        }

        .special_video a{
            text-decoration: none;
            height:220px;
        }
        
        .news1,
        .news2,
        .news3,
        .news4,
        .news5{
            width:600px;
            height:220px;
            display:flex;
            flex-flow:row wrap;
        }

        .news1 img,
        .news2 img,
        .news3 img,
        .news4 img,
        .news5 img{
            width:220px;
            height:220px;
        }

        .news1_text,
        .news2_text,
        .news3_text,
        .news4_text,
        .news5_text{
            width:340px;
            height:180px;
            color:#e5e5e5;
            font-family: 'YeolrinGothic-Light';
            font-size:11px;
            display:flex;
            flex-flow:row wrap;
            align-items: center;
            padding:20px;
        }

        .news1_text h2,
        .news2_text h2,
        .news3_text h2,
        .news4_text h2,
        .news5_text h2,
        .news1_text h3,
        .news2_text h3,
        .news3_text h3,
        .news4_text h3,
        .news5_text h3{
            font-weight: normal;
        }
        
        .photo_show{
            height:300px;
            color:#e5e5e5;
            font-family: 'YeolrinGothic-Light';
            font-size:30px;
            text-align: center;
            line-height:300px;
        }

        .photo_box{
            width:100%;
            height:600px;
            background-color:olivedrab
        }



        


        
        
        
        